.burger {
    height: 20px;
    width: 35px;
    border-radius: 5px;
    position: relative;
}

.burger div {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #f0f0f0;
    transition: .25s ease-in-out;
    opacity: 100;
}

.burger div:nth-child(1) {
    top: 0;
}

.burger div:nth-child(2) {
    top: 10px;
}

.burger div:nth-child(3) {
    top: 20px;
}

.burger.open div:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.burger.open div:nth-child(2) {
    opacity: 0;
}

.burger.open div:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}