.nav {
  color: #000;
  background: #f0f0f0;
  height: 10vh;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: relative;
  padding: 1rem 1.2rem;
  position: relative;
}

/* .center {
  display: flex;
  align-items: center;
  width: 33.333%;
} */

.logoContainer {
  background: #d0fd3e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  filter: invert(0);
}

.titleContainer {
  padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
  .nav {
    color: #f0f0f0;
    background: #231f20;
  }

  .logoContainer {
    background: #d0fd3e;
  }

  .logo {
    filter: invert(0);
  }
}

/* Mobile */
@media (max-width: 700px) {
}
