.nav {
  color: #000;
  background: #f0f0f0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 1.2rem;
  position: relative;
}

.logoContainer {
  background: linear-gradient(to right, #d0fd3e, #88c700);
  outline: 4px solid #fff;
  border-radius: 50%;
  width: 45px;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  filter: invert(0);
}

.titleContainer {
  padding: 0 0.5rem;
}

.title {
  margin: 0;
  font-family: var(--font-bebas-neue);
  font-size: 1.8rem;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .nav {
    color: #f0f0f0;
    background: #231f20;
  }

  .logoContainer {
    background: linear-gradient(to right, #d0fd3e, #88c700);
  }

  .logo {
    filter: invert(0);
  }
}

/* Tablet & above */
@media (min-width: 600px) {
}
